.wrapper {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 24px;
}

.imageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  overflow: hidden;
  height: 310px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name,
.price {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
}

.price {
  margin-right: 10px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
