.wrapper {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 24px;
}

.imageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  overflow: hidden;
  height: 310px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name,
.price {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.priceBtnWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.heartBtn {
  pointer-events: none;
  stroke: var(--main-text);
  fill: transparent;
}

.redHeart {
  pointer-events: none;
  stroke: var(--primary);
  fill: var(--primary);
  transition: 300ms ease-in-out;
}

.redHeart:hover,
.redHeart:focus {
  stroke: var(--primary-hover);
  fill: var(--primary-hover);
}

.rating {
  text-decoration: underline;
}

.rating,
.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 24px;
  margin-top: 8px;
  margin-right: 16px;
}

.ratingIcon {
  stroke: var(--aditional);
  fill: var(--aditional);
}

.locationIcon {
  stroke: var(--main-text);
  fill: transparent;
}

.description {
  line-height: 24px;
  color: var(--secondary-text);
}

.detailsList {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 8px;
}

.detailsItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--light);
  font-weight: 500;
}

.icon {
  stroke: var(--main-text);
  fill: transparent;
}

.showMoreBtn {
  width: max-content;
  padding: 16px 40px;
  border-radius: 200px;
  color: var(--light-strong);
  background-color: var(--primary);
  transition: 300ms ease-in-out;
  border: none;
  cursor: pointer;
}

.showMoreBtn:hover,
.showMoreBtn:focus {
  background-color: var(--primary-hover);
}
