.header {
  margin: 0 auto;
  padding: 20px 64px 20px;
  max-width: 1440px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.link {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 32px;
  line-height: 1.7;
  max-width: max-content;
  text-align: center;
  text-shadow: 1px 0 2px var(--light);
}

.active {
  border-bottom: 1px solid var(--primary);
}
