.wrapper {
  padding: 24px;
  border: 1px solid var(--light-border);
  border-radius: 10px;
}
.titleWrapper {
  margin-bottom: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 8px;
}

.input,
.inputDate,
.textarea {
  border: none;
  outline: none;
  width: 400px;
  height: 56px;
  background-color: var(--light-strong);
  margin-bottom: 14px;
  padding: 18px;
  border-radius: 10px;
}

.calendar {
  position: relative;
}

.iconCalendar {
  position: absolute;
  stroke: var(--main-text);
  fill: transparent;
  top: 0;
  right: 18px;
}

.textarea {
  height: 114px;
  margin-bottom: 24px;
  resize: none;
}

.btn {
  width: max-content;
  padding: 16px 60px;
  border-radius: 200px;
  border: none;
  color: var(--light-strong);
  background-color: var(--primary);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover);
}
