:root {
  --primary: rgb(228, 72, 72);
  --primary-hover: rgb(216, 67, 67);
  --aditional: #ffc531;
  --main-text: rgb(16, 24, 40);
  --secondary-text: rgb(71, 84, 103);
  --light-text: rgba(16, 24, 40, 0.6);
  --light-border: rgba(16, 24, 40, 0.1);
  --background: rgba(17, 18, 19, 0.4);
  --light: rgb(242, 244, 247);
  --light-strong: rgb(247, 247, 247);
}

body {
  font-family: Inter, sans-serif;
  color: var(--main-text);
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
}
